.highlight-link{
	border-style: solid !important; 
	border-bottom-width: 2px !important;
}

.isar-container{
	margin-top: 68px !important;
}

.update-data-icon{
	margin-right: 5px;
}

body, html {
	margin: 0;
	padding: 0;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  .custom-container {
	margin-right: 10px !important;
	margin-left: 10px !important;
  }

  .loader-container{
	margin-top: 100px !important;
  }